.cell {
  background-color: rgb(98, 42, 201) !important;
}

.cell:hover {
  background-color: rgb(98, 42, 201) !important;
}

.inversed {
  background-color: rgb(245, 151, 28) !important;
}

.inversed:hover {
  background-color: rgb(245, 151, 28) !important;
}

.victory,
.moves {
  margin-top: 10px;
}
