.play-handler > span {
  align-self: center;
  margin-right: 10px;
  font-size: 16px;
}

.score {
  margin-left: 20px;
}

.generate-button:disabled,
.generate-button:disabled:hover {
  background-color: rgb(187, 187, 187);
  color: rgb(243, 243, 243);
}
