.input-wrapper,
.field-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.flex-break {
	flex-basis: 100%;
}

.input-wrapper > input {
	font-size: 14px;
	padding: 4px 8px;
	margin-right: 10px;
	width: 90px;
	text-align: center;
}

.input-wrapper > input:hover,
.input-wrapper > input:focus {
	outline: none;
	box-shadow: 0px 0px 0px 1px var(--active-color);
}

.input-wrapper > button {
	font-size: 14px;
	padding: 4px 16px;
	background-color: var(--navbar-color);
	color: white;
	font-weight: 400;
	border: none;
	border-radius: 3px;
}

.input-wrapper > button:hover {
	background-color: var(--active-color);
	cursor: pointer;
}

.input-wrapper > span {
	color: red;
	margin: 12px 0;
	font-size: 14px;
}

.hidden {
	display: none;
}

.cell {
	margin: 6px 3px;
	background-color: var(--navbar-color);
	width: 32px;
	height: 32px;
	border-radius: 6px;
	box-shadow: var(--main-shadow);
}

.cell:hover {
	cursor: pointer;
	background-color: var(--active-color);
}
